[submodule "libft"]
	path = libft
	url = https://github.com/DaniMSalinas/42-libft.git
[submodule "born2beroot"]
	path = born2beroot
	url = https://github.com/DaniMSalinas/42-born2beroot.git
[submodule "printf"]
	path = printf
	url = https://github.com/DaniMSalinas/42-ft_printft.git
[submodule "gnl"]
	path = gnl
	url = https://github.com/DaniMSalinas/42-gnl.git
